@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

:root {
    --primary: #2F8394;
    --gray: #D9D9D9;
    --secondary: #7CB305;
    --primary-light: #F5FFFA;
    --secondary-light: #fcbf6a;
    --soft: #434343;
    --danger: #FF4D4F;
    --success: #52C41A;
    --warning: #FAAD14;
    --info: #0dcaf0;
}

body {
    font-family: "Roboto", serif;
    background-color: #FFFFFF;
    color: #202020;
    font-weight: normal;
}

main {
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background-color: #2F83941A;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", serif;
    font-weight: normal;
}

h1 {
    font-size: 60px;
    line-height: 72px;
}

h2 {
    font-size: 38px;
    line-height: 46px;
}

h3 {
    font-size: 24px;
    line-height: 48px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 20px;
    line-height: 28px;
}

.text-color {
    color: #202020;
}

a {
    text-decoration: none;
    color: #202020;
}

a:hover {
    text-decoration: none;
    color: #2F8394;
}

p {
    font-size: 14px;
    line-height: 32px;
}

ul {
    font-size: 14px;
}

.btn {
    border-radius: 2px;
}

.btn-primary {
    background-color: #2F8394 !important;
    border-color: #2F8394 !important;
}

.bg-primary {
    background-color: #2F8394 !important;
}

.text-primary {
    color: #2F8394 !important;
}

.btn-outline-primary {
    border-width: 1px;
    border-style: solid;
    border-color: #2F8394 !important;
    color: #2F8394;
}

.btn-outline-primary:hover {
    background-color: #2F8394 !important;
}

.card-inkubator-primary .card-header {
    background: linear-gradient(180deg, #2F8394 0%, #2F8394 65%, transparent 65%) !important;
}

.btn-gray {
    background-color: var(--gray) !important;
    border-color: var(--gray) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.btn-outline-gray {
    border-width: 1px;
    border-style: solid;
    border-color: var(--gray) !important;
    color: var(--gray);
}

.btn-outline-gray:hover {
    background-color: var(--gray) !important;
}

.card-inkubator-gray .card-header {
    background: linear-gradient(180deg, var(--gray) 0%, var(--gray) 65%, transparent 65%) !important;
}

.btn-secondary {
    background-color: #7CB305 !important;
    border-color: #7CB305 !important;
}

.bg-secondary {
    background-color: #7CB305 !important;
}

.text-secondary {
    color: #7CB305 !important;
}

.btn-outline-secondary {
    border-width: 1px;
    border-style: solid;
    border-color: #7CB305 !important;
    color: #7CB305;
}

.btn-outline-secondary:hover {
    background-color: #7CB305 !important;
}

.card-inkubator-secondary .card-header {
    background: linear-gradient(180deg, #7CB305 0%, #7CB305 65%, transparent 65%) !important;
}

.btn-primary-light {
    background-color: #F5FFFA !important;
    border-color: #F5FFFA !important;
}

.bg-primary-light {
    background-color: #F5FFFA !important;
}

.text-primary-light {
    color: #F5FFFA !important;
}

.btn-outline-primary-light {
    border-width: 1px;
    border-style: solid;
    border-color: #F5FFFA !important;
    color: #F5FFFA;
}

.btn-outline-primary-light:hover {
    background-color: #F5FFFA !important;
}

.card-inkubator-primary-light .card-header {
    background: linear-gradient(180deg, #F5FFFA 0%, #F5FFFA 65%, transparent 65%) !important;
}

.btn-secondary-light {
    background-color: var(--secondary-light) !important;
    border-color: var(--secondary-light) !important;
}

.bg-secondary-light {
    background-color: var(--secondary-light) !important;
}

.text-secondary-light {
    color: var(--secondary-light) !important;
}

.btn-outline-secondary-light {
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-light) !important;
    color: var(--secondary-light);
}

.btn-outline-secondary-light:hover {
    background-color: var(--secondary-light) !important;
}

.card-inkubator-secondary-light .card-header {
    background: linear-gradient(180deg, var(--secondary-light) 0%, var(--secondary-light) 65%, transparent 65%) !important;
}

.btn-soft {
    background-color: var(--soft) !important;
    border-color: var(--soft) !important;
}

.bg-soft {
    background-color: var(--soft) !important;
}

.text-soft {
    color: var(--soft) !important;
}

.btn-outline-soft {
    border-width: 1px;
    border-style: solid;
    border-color: var(--soft) !important;
    color: var(--soft);
}

.btn-outline-soft:hover {
    background-color: var(--soft) !important;
}

.card-inkubator-soft .card-header {
    background: linear-gradient(180deg, var(--soft) 0%, var(--soft) 65%, transparent 65%) !important;
}

.btn-info {
    background-color: #0dcaf0 !important;
    border-color: #0dcaf0 !important;
}

.bg-info {
    background-color: #0dcaf0 !important;
}

.text-info {
    color: #0dcaf0 !important;
}

.btn-outline-info {
    border-width: 1px;
    border-style: solid;
    border-color: #0dcaf0 !important;
    color: #0dcaf0;
}

.btn-outline-info:hover {
    background-color: #0dcaf0 !important;
}

.card-inkubator-info .card-header {
    background: linear-gradient(180deg, #0dcaf0 0%, #0dcaf0 65%, transparent 65%) !important;
}

.btn-danger {
    background-color: #FF4D4F !important;
    border-color: #FF4D4F !important;
}

.bg-danger {
    background-color: #FF4D4F !important;
}

.text-danger {
    color: #FF4D4F !important;
}

.btn-outline-danger {
    border-width: 1px;
    border-style: solid;
    border-color: #FF4D4F !important;
    color: #FF4D4F;
}

.btn-outline-danger:hover {
    background-color: #FF4D4F !important;
}

.card-inkubator-danger .card-header {
    background: linear-gradient(180deg, #FF4D4F 0%, #FF4D4F 65%, transparent 65%) !important;
}

.btn-success {
    background-color: #52C41A !important;
    border-color: #52C41A !important;
}

.bg-success {
    background-color: #52C41A !important;
}

.text-success {
    color: #52C41A !important;
}

.btn-outline-success {
    border-width: 1px;
    border-style: solid;
    border-color: #52C41A !important;
    color: #52C41A;
}

.btn-outline-success:hover {
    background-color: #52C41A !important;
}

.card-inkubator-success .card-header {
    background: linear-gradient(180deg, #52C41A 0%, #52C41A 65%, transparent 65%) !important;
}

.btn-warning {
    background-color: #FAAD14 !important;
    border-color: #FAAD14 !important;
}

.bg-warning {
    background-color: #FAAD14 !important;
}

.text-warning {
    color: #FAAD14 !important;
}

.btn-outline-warning {
    border-width: 1px;
    border-style: solid;
    border-color: #FAAD14 !important;
    color: #FAAD14;
}

.btn-outline-warning:hover {
    background-color: #FAAD14 !important;
}

.card-inkubator-warning .card-header {
    background: linear-gradient(180deg, #FAAD14 0%, #FAAD14 65%, transparent 65%) !important;
}

.btn-red {
    background-color: #CF1322 !important;
    border-color: #CF1322 !important;
}

.bg-red {
    background-color: #CF1322 !important;
}

.text-red {
    color: #CF1322 !important;
}

.btn-outline-red {
    border-width: 1px;
    border-style: solid;
    border-color: #CF1322 !important;
    color: #CF1322;
}

.btn-outline-red:hover {
    background-color: #CF1322 !important;
}

.card-inkubator-red .card-header {
    background: linear-gradient(180deg, #CF1322 0%, #CF1322 65%, transparent 65%) !important;
}

.btn-blue {
    background-color: #096DD9 !important;
    border-color: #096DD9 !important;
}

.bg-blue {
    background-color: #096DD9 !important;
}

.text-blue {
    color: #096DD9 !important;
}

.btn-outline-blue {
    border-width: 1px;
    border-style: solid;
    border-color: #096DD9 !important;
    color: #096DD9;
}

.btn-outline-blue:hover {
    background-color: #096DD9 !important;
}

.card-inkubator-blue .card-header {
    background: linear-gradient(180deg, #096DD9 0%, #096DD9 65%, transparent 65%) !important;
}

.btn-white {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.bg-white {
    background-color: #FFFFFF !important;
}

.text-white {
    color: #FFFFFF !important;
}

.btn-outline-white {
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF !important;
    color: #FFFFFF;
}

.btn-outline-white:hover {
    background-color: #FFFFFF !important;
}

.card-inkubator-white .card-header {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 65%, transparent 65%) !important;
}

.btn-black {
    background-color: #202020 !important;
    border-color: #202020 !important;
}

.bg-black {
    background-color: #202020 !important;
}

.text-black {
    color: #202020 !important;
}

.btn-outline-black {
    border-width: 1px;
    border-style: solid;
    border-color: #202020 !important;
    color: #202020;
}

.btn-outline-black:hover {
    background-color: #202020 !important;
}

.card-inkubator-black .card-header {
    background: linear-gradient(180deg, #202020 0%, #202020 65%, transparent 65%) !important;
}

.navbar {
    padding: 20px 48px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 32px;
}

.navbar .navbar-nav .nav-item a:not(.btn) {
    color: #062D35;
}

.navbar .navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar .navbar-nav .nav-item .nav-link:hover:before,
.navbar .navbar-nav .nav-item .nav-link:active:before,
.navbar .navbar-nav .nav-item .nav-link.active:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #2F8394;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    bottom: -10%;
}

.navbar .navbar-nav .nav-item .nav-link.active-auth {
    background-color: #2F8394;
    color: #FFFFFF !important;
    border-radius: 5px;
}

.carousel-inner>.item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 82px;
}

.auth-content {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.register-content {
    padding-top: 100px;
}

.auth-page {
    padding-top: 0px;
    overflow: hidden;
    background-image: radial-gradient(circle at bottom left, #2F83944D 0, transparent 50%);
    background-repeat: no-repeat;
    position: relative;
}

.auth-page:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-image: radial-gradient(circle at top right, #7CB3054D 0, transparent 50%);
    background-repeat: no-repeat;
    z-index: -100;
}

.homepage>* {
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.homepage>* .img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-content {
    background-image: radial-gradient(circle at 15% center, #2F83944D 0, transparent 33%);
    background-repeat: no-repeat;
    position: relative;
}

.bg-content:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-image: radial-gradient(circle at 85% center, #7CB3054D 0, transparent 33%);
    background-repeat: no-repeat;
    z-index: -100;
}

.card {
    border: none;
    border-radius: 16px;
}

.card .card-header {
    border: 0px;
    background-color: inherit;
}

.card-gradient-transparent {
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 53.98%, rgba(255, 255, 255, 0) 101.69%);
}

.card-transparent {
    background: linear-gradient(103.47deg, rgba(255, 255, 255, 0.8) 0.43%, rgba(255, 255, 255, 0.5) 99.02%);
}

.quotes-person {
    list-style: none;
    padding: 20px 0px;
}

.quotes-person .quotes-person-item {
    display: flex;
    border-radius: 8px;
    padding: 14px 24px;
    align-items: center;
    cursor: pointer;
}

.quotes-person .quotes-person-item.active {
    background-color: #2F8394;
    color: #FFFFFF;
}

.quotes-person .quotes-person-item:hover:not(.active),
.quotes-person .quotes-person-item:active:not(.active) {
    background-color: #2F83941A;
}

.quotes-person .quotes-person-item .avatar {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-right: 20px;
}

.quotes-person .quotes-person-item .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quotes-person .quotes-person-item .person h3 {
    line-height: 32px;
}

.quotes-person .quotes-person-item .person label {
    font-size: 14px;
}

.quotes {
    display: none;
    height: 100%;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 0px;
    position: relative;
}

.quotes.show {
    display: flex;
}

.quotes:before {
    content: "“";
    position: absolute;
    top: 0px;
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;
}

.quotes:after {
    content: "“";
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;
}

.info-mitra-inkubator {
    position: relative;
}

.info-mitra-inkubator .total-inkubator {
    position: absolute;
    right: 25%;
    top: 0px;
    width: 300px;
    height: 300px;
    background-color: #2F8394;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    z-index: 901;
}

.info-mitra-inkubator .total-inkubator h1 {
    margin-bottom: 0px;
    font-weight: 700;
}

.info-mitra-inkubator .total-inkubator h3 {
    margin-bottom: 0px;
}

.info-mitra-inkubator .total-tenant {
    position: absolute;
    right: 15%;
    top: 50%;
    width: 200px;
    height: 200px;
    background-color: #7CB305;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    z-index: 902;
}

.info-mitra-inkubator .total-tenant h1 {
    font-size: 36px;
    margin-bottom: 0px;
    font-weight: 700;
}

.info-mitra-inkubator .total-tenant h3 {
    margin-bottom: 0px;
    font: 16px;
    line-height: 16px;
}

.info-mitra-inkubator .radial-white {
    position: absolute;
    right: -10%;
    top: -20%;
    width: 500px;
    height: 500px;
    background-color: #7CB305;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    z-index: -50;
    background: linear-gradient(40.76deg, rgba(47, 131, 148, 0.2) 8.22%, rgba(255, 255, 255, 0) 85.35%);
}

.card-transparent-2 {
    background: rgba(47, 131, 148, 0.05);
    border: 2px solid #FFFFFF;
}

.card-transparent-2 .card-header {
    background: transparent;
}

.step-inkubasi {
    display: none;
}

.step-inkubasi.active {
    display: block;
}

.step-inkubasi .step-inkubasi-nav {
    display: flex;
    margin-bottom: 20px;
}

.step-inkubasi .step-inkubasi-nav a {
    height: 46px;
    width: 46px;
    background-color: #2F8394;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #FFFFFF;
    margin-right: 10px;
}

.step-inkubasi .step-inkubasi-nav a:hover,
.step-inkubasi .step-inkubasi-nav a:active {
    background-color: #2F8394CC;
}

.inkubasi-infographic {
    width: 512px;
    height: 512px;
    border-radius: 100%;
    border: 2px solid #7CB305;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    padding: 20px;
    position: relative;
    list-style: none;
}

.inkubasi-infographic:before {
    content: "";
    position: absolute;
    width: 480px;
    height: 480px;
    background-color: #F5FDFF;
    border-radius: 100%;
    top: 16px;
    left: 16px;
    z-index: -5;
}

.inkubasi-infographic .inkubasi-infographic-item {
    width: 100%;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub {
    list-style: none;
    padding: 0px;
    width: 100%;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub .inkubasi-infograpic-sub-item.show .inkubasi-infograpic-nav {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub .inkubasi-infograpic-sub-item.show img {
    height: 100px;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub .inkubasi-infograpic-sub-item.show label {
    color: #2F8394;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub .inkubasi-infograpic-sub-item .inkubasi-infograpic-nav {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #7CB305;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub .inkubasi-infograpic-sub-item .inkubasi-infograpic-nav-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    text-align: center;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub .inkubasi-infograpic-sub-item img {
    transition: 0.5s;
    transition-delay: 0.2s;
    height: 0px;
    top: 20px;
}

.inkubasi-infographic .inkubasi-infographic-item .inkubasi-infograpic-sub .inkubasi-infograpic-sub-item label {
    opacity: 0;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.card-news {
    border: 1px solid #F9F9F9;
    border-radius: 16px;
    overflow: hidden;
}

.card-news .card-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.card-news .card-header label {
    font-size: 14px;
    background-color: #7CB305;
    color: #FFFFFF;
    padding: 2px 10px;
    border-radius: 100px;
}

.card-news .card-header span {
    font-size: 14px;
}

.card-news .card-thumbnail {
    width: 100%;
    height: 180px;
}

.card-news .card-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-news .card-body {
    padding: 20px;
    height: 200px;
}

.card-news .card-body h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 30;
}

.card-news .card-body h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 90px;
}

.card-inkubator {
    background-color: #F5FDFF;
}

.card-inkubator .card-header {
    background-color: #FFFFFF;
    padding-top: 40px;
    background: linear-gradient(180deg, #2F8394 0%, #2F8394 65%, transparent 65%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inkubator .card-header .avatar {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid white;
}

.card-inkubator .card-header .tenants {
    text-align: right;
    color: white;
}

.card-inkubator .card-header .tenants img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: -20px;
}

.card-inkubator .card-header .rank {
    position: absolute;
    right: 20px;
    top: 0px;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    background-color: #52C41A;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0px 0px 100px 100px;
    box-shadow: -1px 8px 5px 1px rgba(0, 0, 0, 0.3);
}

.card-inkubator .card-body {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    overflow: hidden;
}

.card-inkubator .card-body h3 {
    line-height: 30px;
}

.card-contact {
    background-color: #2F8394;
    border-radius: 20px;
}

.card-contact .card-body {
    padding: 40px;
}

.card-contact .card-body label {
    color: #FFFFFF;
}

.nav-post h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.nav-post.next-post {
    margin-left: auto;
}

.read-news .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.read-news .header .info .latest {
    padding: 2px 10px;
    background-color: #2F8394;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: bold;
    margin-bottom: 10px;
}

.read-news .header .info h2 {
    margin-bottom: 10px;
}

.read-news .header .info .meta {
    color: #6c757d;
}

.read-news .header .category {
    padding: 2px 10px;
    background-color: #F0F0F0;
    color: #494949;
    border-radius: 2px;
    font-weight: bold;
}

.read-news .images {
    margin-bottom: 20px;
}

.read-news .images .image {
    width: 100%;
    height: 530px;
}

.read-news .images .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.read-news .content {
    margin-bottom: 36px;
    line-height: 40px;
}

.img-rounded {
    border-radius: 100%;
    object-fit: cover;
}

.card-rounded {
    border-radius: 16px;
    overflow: hidden;
}

.card-bordered {
    border: 1px solid #D9D9D9;
}

.card-bordered .card-header {
    border-bottom: 1px solid #D9D9D9;
}

.card-detail-inkubator {
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #D9D9D9;
}

.card-detail-inkubator .card-header {
    background-color: #2F8394;
    display: flex;
    align-items: center;
    padding: 30px;
}

.card-detail-inkubator .card-header img {
    border: 3px solid #FFFFFF;
}

.card-detail-inkubator .card-header .info {
    padding: 0px 30px;
}

.card-detail-inkubator .card-header .info h3 {
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 30px;
    line-height: 20px;
    color: white;
}

.card-detail-inkubator .card-header .info label {
    background-color: #7CB305;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 100px;
}

.card-detail-inkubator .card-header .rank {
    position: absolute;
    right: 20px;
    top: 0px;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    background-color: #52C41A;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0px 0px 100px 100px;
    box-shadow: -1px 8px 5px 1px rgba(0, 0, 0, 0.3);
}

.gambar-inkubator img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid white;
}

.nama-inkubator {
    float: left;
    height: 60px;
    line-height: 56px;
    overflow: hidden;
    vertical-align: middle;
}

.nama-inkubator a {
    color: #3785d8;
}

.card-overflow {
    height: 400px;
    overflow-y: hidden;
}

.card-overflow:hover {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-overflow:hover::-webkit-scrollbar {
    display: none;
}

.tenant-lists {
    list-style: none;
    padding: 0px;
}

.tenant-lists li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.tenant-lists li .info {
    padding-left: 20px;
}

.avatar {
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #FFFFFF;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    border-bottom: 1px solid #D9D9D9;
}

.nav-tabs .nav-item .nav-link {
    border: none;
    color: #000000;
}

.nav-tabs .nav-item .nav-link.active {
    color: #2F8394;
    border-bottom: 2px solid #2F8394;
}

.card-produk {
    border-radius: 16px 16px 0px 0px;
    border: 1px solid #D9D9D9;
    height: 330px;
}

.card-produk img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.card-produk h4 {
    font-weight: bold;
    padding: 20px;
}

.pagination .page-item.active .page-link {
    background-color: #2F8394;
    color: #FFFFFF;
}

.pagination .page-item .page-link {
    color: #2F8394;
}

/*# sourceMappingURL=style.css.map */

#homepage {
    max-width: 100vw;
    overflow: hidden;
}

#homepage .carousel .carousel-inner .carousel-item {
    height: calc(100vh - 70px);
}

#homepage .carousel .carousel-inner .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#homepage .carousel .carousel-inner .carousel-item h1 {
    position: absolute;
    z-index: 1000;
    left: 50px;
    bottom: 70px;
    font-size: 48px;
    line-height: 72px;
    /*width: 100vw;*/
    color: #FFFFFF;
    font-weight: 700;
    text-shadow: 0px 2px 4px #00000080;
}

#homepage .carousel .carousel-inner .carousel-item h1 a {
    text-decoration: none;
    color: #FFF;
}

#homepage .carousel .carousel-inner .carousel-item h1 a:hover {
    color: #FFFFFFCC;
}

#homepage .carousel .carousel-inner .carousel-item h1.background-light {
    color: #000000;
    text-shadow: 0px 2px 4px #FFFFFF;
}

#homepage .carousel .carousel-inner .carousel-item h1.background-light a {
    text-decoration: none;
    color: #000000;
}

#homepage .carousel .carousel-inner .carousel-item h1.background-light a:hover {
    color: #000000CC;
}

#homepage .carousel .carousel-inner .carousel-item .nav {
    position: absolute;
    z-index: 1000;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

#homepage .carousel .carousel-inner .carousel-item .nav a {
    color: #FFFFFF !important;
}

#homepage .carousel .carousel-inner .carousel-item .nav a:hover {
    color: #FF4D4F !important;
}

#homepage .carousel .carousel-inner .carousel-item .nav.background-light a {
    color: #FF4D4F !important;
}

#homepage .carousel .carousel-inner .carousel-item .nav.background-light a:hover {
    color: #ad1113 !important;
}
